@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">
        <section class="my-5">
            <form id="account" method="post">
                <h4>Use tour Ketum account to login.</h4>
                <hr/>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center m-0">
                    <label class="custom-control custom-checkbox m-0">
                        <input asp-for="Input.RememberMe" class="custom-control-input"/>
                        <span class="custom-control-label">Remember me</span>
                    </label>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </section>
        <div class="text-center text-muted">
            Don't have an account yet?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
        </div>
        <div class="text-center text-muted">
            Did you forget your password <a id="forgot-password" asp-page="./ForgotPassword">click to reset</a>.
        </div>
    </div>
    <div class="d-none col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See
                            <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                this article
                            </a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                          class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                            title="Log in using your @provider.DisplayName account">
                                        @provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
